/* Body styling */
body {
    background-image: url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
