/* General Styles */
body {
    background-image: url("../img/background.jpeg");
background-repeat: no-repeat;
background-size: cover;
align-items: center;
justify-content: center;
}

/* Container Styles */
.container {
    max-width: 60%;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border: 2px solid #660094; /* Border added */
}

/* Title Styles */
.title {
    color: #2d4059;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Input Styling */
.input-group textarea,
.input-group input {
    border: 2px solid #660094; /* Updated border color */
    border-radius: 8px;
    padding: 10px; /* Added padding for better usability */
}

/* Task and Button Styles */
.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.btn-primary {
    background-color: #9614d0; /* Updated button color */
    color: white;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.5);
}

/* History Container Styles */
.history-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.accomplished-container,
.canceled-container {
    flex: 1;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f0f5f5;
    min-width: 45%;
    max-height: 300px;
    overflow-y: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .history-container {
        flex-direction: column;
    }
}
