body{
    background-image: url("bg-images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(60, 179, 113), blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}.header {
    overflow: hidden;
    background-color: rgb(33, 117, 7);
    /*padding: 20px 10px;*/
  }
  
  .header img{
    height: 50px;
    width: 50px;
  }
  
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .header-Left {
    display: flex; /* Make sure items are aligned in a row */
    align-items: center; /* Center items vertically */
}

.logo-img {
    height: 40px; /* Set a smaller height */
    width: 40px; /* Set a smaller width */
    border-radius: 50%; /* Make the image round */
    margin-right: 10px; /* Space between logo and text */
    vertical-align: middle; /* Aligns the logo with the text */
}
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(88, 3, 3);
    color: White;
  }
  
  .header a.active {
    background-color: rgb(54, 54, 1);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-Right {
    float: right;
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 245, 125);
    color: rgb(13, 151, 75);
    text-align: center;
  }
  #content{
    color: maroon;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
  }