/* Body styling */
body {
  background-image: url("img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}

/* Main container styling */
.container {
  margin-top: 2rem;
}

/* Button styling */
.btn-primary {
  margin-top: 1rem;
  width: 50%;
  background-color: #9614d0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.5);
}

.btn-secondary {
  background-color: #472151;
  color: white;
  border-color: #660094;
}

/* Modal styling */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.close {
  cursor: pointer;
  float: right;
}

/* Form input styling */
input[type="text"],
input[type="password"] {
  border: 2px solid #660094;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Card for displaying weather information */
.card {
  margin-top: 2rem;
  border-radius: 8px;
  background-color: #3f3f3f;
  box-shadow: 0 0 8px 10px rgba(128, 0, 128, 0.6);
}

.card-body {
  color: whitesmoke;
  padding: 20px;
}

#weatherCard {
  display: none;
  text-align: center;
}

#weatherIcon {
  width: 100px;
  height: auto;
}

/* Title styling */
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #A865B5;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.5);
}

/* Applet container styling */
.applet-container {
  width: 500px;
  padding: 20px;
  background-color: #A865B5;
  border: 2px solid #660094;
  border-radius: 8px;
  margin: 50px auto;
  text-align: left;
  box-shadow: 0 0 8px 10px rgba(128, 0, 128, 0.6);
}

.applet-container p {
  text-align: left;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
}

/* Button container for modal actions */
.modal-footer .btn {
  width: 100%;
  margin-top: 1rem;
}
